# TIMEZONE
CONTAINER_TIMEZONE=Europe/Paris

# FORGE
PMB_VERSION=7.3.2

# MYSQL
MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=XXXXXXXX
MYSQL_DATABASE=bibli
MYSQL_USER=bibli
MYSQL_PASSWORD=XXXXX

# APACHE
APACHE_PORT=80

# For ../Makefile
SITE=latronche
VPS=$(shell hostname)
DATE=$(shell date +%Y%m%d)
DATEHOUR=$(shell date +%Y%m%d_%H%M)
KIMSUFI_SERVER=ns358473.ip-91-121-154.eu
ARCHIVE_PATH=archives
ARCHIVE_FILES=$(ARCHIVE_PATH)/$(SITE)-$(VPS)-files.$(DATE).tar.gz
ARCHIVE_SQL=$(ARCHIVE_PATH)/$(SITE)-$(VPS)-mysql.$(DATE).sql.bz2

## PHPMYADMIN
#PHPMYADMIN_PORT=8080
